.idea/
build*/
.cache
.aws
.config
_deps/catch2-src/
.vscode/
_site/
compile_commands.json
CMakeUserPresets.json
/ci/rapids/.conda
/ci/rapids/.log
/ci/rapids/.repos
*.egg-info/
*.pyc
__pycache__
*.pyd
