---
InheritParentConfig: true
CheckOptions:
 - key:             readability-identifier-naming.TemplateParameterCase
   value:           CamelCase
 - key:             readability-identifier-naming.MemberCase
   value:           lower_case
 - key:             readability-identifier-naming.ClassMemberCase
   value:           lower_case
...
