---
InheritParentConfig: true
CheckOptions:
 - key:             readability-identifier-naming.TemplateParameterCase
   value:           CamelCase
 - key:             readability-identifier-naming.FunctionCase
   value:           lower_case
...
