# Copyright (c) 2025, NVIDIA CORPORATION & AFFILIATES. ALL RIGHTS RESERVED.
#
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

[build-system]
requires = ["scikit-build-core>=0.10", "setuptools_scm", "cython"]
build-backend = "scikit_build_core.build"

[project]
name = "cuda-cccl"
description = "CUDA Core Library for Python"
authors = [{ name = "NVIDIA Corporation" }]
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Environment :: GPU :: NVIDIA CUDA",
  "License :: OSI Approved :: Apache Software License",
]
requires-python = ">=3.9"
dependencies = [
  "numba>=0.60.0",
  "numpy",
  "cuda-python==12.9.0",
  "cupy-cuda12x",
  "nvidia-cuda-nvrtc-cu12",
  "nvidia-nvjitlink-cu12",
  "pynvjitlink-cu12>=0.2.4",
  "jinja2",
]
dynamic = ["version"]
readme = { file = "README.md", content-type = "text/markdown" }

[project.optional-dependencies]
test = [
  "pytest",
  "pytest-xdist",
  "cupy-cuda12x",
  "typing_extensions",
  "pytest-benchmark",
]

[project.urls]
Homepage = "https://developer.nvidia.com/"

[tool.scikit-build]
minimum-version = "build-system.requires"
build-dir = "build/{wheel_tag}"

[tool.scikit-build.cmake]
version = ">=3.21"
args = []
build-type = "Release"
source-dir = "."

[tool.scikit-build.ninja]
version = ">=1.11"
make-fallback = true

[tool.scikit-build.metadata.version]
provider = "scikit_build_core.metadata.setuptools_scm"

[tool.setuptools_scm]
root = "../.."

[tool.scikit-build.wheel.packages]
"cuda" = "cuda"
"cuda/cccl" = "cuda/cccl"

[tool.mypy]
python_version = "3.10"

[[tool.mypy.overrides]]
module = ["numba.*", "llvmlite", "cupy", "cuda.cccl.headers.*"]
ignore_missing_imports = true
follow_imports = "skip"

[tool.ruff]
extend = "../../pyproject.toml"

[tool.ruff.lint.isort]
known-first-party = [
  "cuda.cccl",
  "cuda.cccl.headers",
  "cuda.cccl.parallel",
  "cuda.cccl.cooperative",
]

[tool.pytest.ini_options]
markers = [
  "no_verify_sass: skip SASS verification check",
  "large: tests requiring large device memory allocations",
]
