name: Run as coder user

defaults:
  run:
    shell: bash -exo pipefail {0}


on:
  workflow_call:
    inputs:
      name: {type: string, required: true}
      image: {type: string, required: true}
      runner: {type: string, required: true}
      command: {type: string, required: true}
      env: { type: string, required: false, default: "" }

permissions:
  contents: read

jobs:
  run-as-coder:
    name: ${{inputs.name}}
    permissions:
      id-token: write
      contents: read
    runs-on: ${{inputs.runner}}
    container:
      options: -u root
      image: ${{inputs.image}}
      env:
        NVIDIA_VISIBLE_DEVICES: ${{ env.NVIDIA_VISIBLE_DEVICES }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          path: cccl
          persist-credentials: false
      - name: Move files to coder user home directory
        run: |
          cp -R cccl /home/coder/cccl
          chown -R coder:coder /home/coder/
      - name: Configure credentials and environment variables for sccache
        uses: ./cccl/.github/actions/configure_cccl_sccache
      - name: Run command
        shell: su coder {0}
        run: |
            set -exo pipefail
            cd ~/cccl
            eval "${{inputs.command}}" || exit_code=$?
            if [ ! -z "$exit_code" ]; then
                echo "::error::Error! To checkout the corresponding code and reproduce locally, run the following commands:"
                echo "git clone --branch $GITHUB_REF_NAME --single-branch --recurse-submodules https://github.com/$GITHUB_REPOSITORY.git && cd $(echo $GITHUB_REPOSITORY | cut -d'/' -f2) && git checkout $GITHUB_SHA"
                echo "docker run --rm -it --gpus all --pull=always --volume \$PWD:/repo --workdir /repo ${{ inputs.image }} ${{inputs.command}}"
                exit $exit_code
            fi

