name: "Workflow/Dispatch/TwoStage/Linux"

defaults:
  run:
    shell: bash --noprofile --norc -euo pipefail {0}

on:
  workflow_call:
    inputs:
      producers:
        description: "The dispatch.json's linux_two_stage.jobs.<name>[*].producers array."
        type: string
        required: true
      consumers:
        description: "The dispatch.json's linux_two_stage.jobs.<name>[*].consumers array."
        type: string
        required: true

jobs:
  # Accumulating results from multiple producers is not easily implemented. For now, only a single producer is supported.
  # The build-workflow.py script will emit an error if more than one producer is specified.
  producer:
    name: ${{ fromJSON(inputs.producers)[0].name }}
    runs-on: ${{ github.repository == 'NVIDIA/cccl' && fromJSON(inputs.producers)[0].runner || 'ubuntu-latest' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Run job
        uses: ./.github/actions/workflow-run-job-linux
        with:
          id:      ${{ fromJSON(inputs.producers)[0].id }}
          command: ${{ fromJSON(inputs.producers)[0].command }}
          image:   ${{ fromJSON(inputs.producers)[0].image }}
          runner:  ${{ fromJSON(inputs.producers)[0].runner }}
          cuda:    ${{ fromJSON(inputs.producers)[0].cuda }}
          host:    ${{ fromJSON(inputs.producers)[0].host }}
          github_token: ${{ github.repository != 'NVIDIA/cccl' && secrets.SCCACHE_AUTH_TOKEN || '' }}

  consumers:
    name: "${{ matrix.name }}"
    needs: producer
    runs-on: ${{ github.repository == 'NVIDIA/cccl' && matrix.runner || 'ubuntu-latest' }}
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(inputs.consumers) }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Run job
        uses: ./.github/actions/workflow-run-job-linux
        with:
          id:      ${{ matrix.id }}
          command: ${{ matrix.command }}
          image:   ${{ matrix.image }}
          runner:  ${{ matrix.runner }}
          cuda:    ${{ matrix.cuda }}
          host:    ${{ matrix.host }}
          github_token: ${{ github.repository != 'NVIDIA/cccl' && secrets.SCCACHE_AUTH_TOKEN || '' }}
